/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./app/home/form.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/


.flex.flex-col {
    /* Adjust the container's background color
    background-color: #f0f0f0;
  

    padding: 20px;

    border: 1px solid #ccc;
  

    gap: 10px;
  
    align-items: center; 
    */
    position: absolute; /* Position the flex container relative to the parent */
    top: 50%; /* Adjust as needed to vertically position the container */
    left: 50%; /* Adjust as needed to horizontally position the container */
    transform: translate(-50%, -50%); /* Center the container within its parent */
    width: 50%; /* Adjust the width as needed based on your design */
    height: auto; /* Let the height adjust to content */

    display: flex;
    justify-content: center;
    /* margin-top: 120px; */
    flex-direction: column;
    margin: 0 auto;
 


  }
