.flex.flex-col {
    /* Adjust the container's background color
    background-color: #f0f0f0;
  

    padding: 20px;

    border: 1px solid #ccc;
  

    gap: 10px;
  
    align-items: center; 
    */
    display: flex;
    justify-content: center;
    margin-bottom: 50px;


    font-family: 'Hepta Slab', sans-serif;
    
    background-color: #d9e8fd; /* Replace with your desired color code or name */
    width: 100%; /* Optionally, set the width to fill the parent container */
    height: 100%; /* Optionally, set the height to fill the parent container */
    border: 4px solid #d9e8fd;
    
  }

.my-2 {
  font-family: 'Hepta Slab', sans-serif;
  border-radius: 5px;
  text-align: left;
  padding: 10px;
  }
