.flex.flex-col {
    /* Adjust the container's background color
    background-color: #f0f0f0;
  

    padding: 20px;

    border: 1px solid #ccc;
  

    gap: 10px;
  
    align-items: center; 
    */
    display: flex;
    justify-content: center;
    margin-bottom: 50px;


    font-family: 'Hepta Slab', sans-serif;
    
  }

.my-2 {
  font-family: 'Hepta Slab', sans-serif;
  border-radius: 5px;
  text-align: left;
  padding: 10px;
  }
