@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: #d9e8fd;
  font-family: 'Hepta Slab', Arial, sans-serif;
}

.background-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background-image: "/images/planify_background.PNG"; /*Set the path to your image */
  background-size: cover; /* Adjust as needed to control the image size */
  background-position: center; /* Center the image horizontally and vertically */
  background-repeat: repeat; /* Prevent image repetition */
  min-height: 50vh; /* Ensure the container takes up at least the full viewport height */
  margin-top: 20px; /* Adjust as needed */
  margin-bottom: 20px; /* Adjust as needed */
}
